.property-list-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    margin: 0 30px;
}
.property-list-section .title{
margin: 30px 0;

font-size: 40px;
font-weight: 500;
letter-spacing: 8px;
margin-bottom: 20px;

}

.property-list-section .list-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 0;
}
.property-list-section .list-div.single{
    display:flex;
    align-items: center;
    justify-content: center;
}
.property-list-section button{
    
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 1px;
    padding: 15px 40px;
    outline: none;
    font-size: 18px;
    border: 2px solid #c2ab92;
    color: #c2ab92;
    background: #00000000;
    transition: 0.2s;
}
.property-list-section button:hover{
    
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #00000000;
    color: #fff;
    background: #c2ab92;
    transition: 0.3s;
    
}

@media (max-width:1024px) {
    .property-list-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 80px 0;
        margin: 0 30px;
    }
    .property-list-section .title{
    margin: 30px 0;
    
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 20px;
    
    }
    
    .property-list-section .list-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 40px 0;
    }
    .property-list-section button{
        
        font-weight: 400;
        margin-top: 20px;
        letter-spacing: 1px;
        padding: 15px 40px;
        outline: none;
        font-size: 18px;
        border: 2px solid #c2ab92;
        color: #c2ab92;
        background: #00000000;
        transition: 0.2s;
    }
    .property-list-section button:hover{
        
        font-weight: 400;
        letter-spacing: 1px;
        outline: none;
        border: 2px solid #00000000;
        color: #fff;
        background: #c2ab92;
        transition: 0.3s;
        
    }
}



@media (max-width:768px) {
    .property-list-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 80px 0;
        margin: 0 30px;
    }
    .property-list-section .title{
    margin: 30px 0;
    
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 20px;
    
    }
    
    .property-list-section .list-div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 40px 0;
    }
    .property-list-section button{
        
        font-weight: 400;
        margin-top: 20px;
        letter-spacing: 1px;
        padding: 15px 40px;
        outline: none;
        font-size: 18px;
        border: 2px solid #c2ab92;
        color: #c2ab92;
        background: #00000000;
        transition: 0.2s;
    }
    .property-list-section button:hover{
        
        font-weight: 400;
        letter-spacing: 1px;
        outline: none;
        border: 2px solid #00000000;
        color: #fff;
        background: #c2ab92;
        transition: 0.3s;
        
    }
}
@media (max-width:430px) {
    .property-list-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 80px 0;
        margin: 0px;
    }
    .property-list-section .title{
    margin: 30px 0;
    
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 20px;
    
    }
    
    .property-list-section .list-div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 40px 0;
    }
    .property-list-section button{
        
        font-weight: 400;
        margin-top: 20px;
        letter-spacing: 1px;
        padding: 15px 40px;
        outline: none;
        font-size: 18px;
        border: 2px solid #c2ab92;
        color: #c2ab92;
        background: #00000000;
        transition: 0.2s;
    }
    .property-list-section button:hover{
        
        font-weight: 400;
        letter-spacing: 1px;
        outline: none;
        border: 2px solid #00000000;
        color: #fff;
        background: #c2ab92;
        transition: 0.3s;
        
    }
}